{% extends 'tomoi/base.html' %}

{% block title %}Đăng ký{% endblock %}

{% block content %}
<h2>Đăng ký</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="password" 
           class="form-control" 
           id="registerPassword" 
           name="password" 
           required
           autocomplete="new-password">
    <input type="password" 
           class="form-control" 
           id="confirmPassword" 
           name="confirm_password" 
           required
           autocomplete="new-password">
    <button type="submit" class="btn btn-primary">Đăng ký</button>
</form>
{% endblock %}
